{% extends 'show.html' %}

{% block title %}Available Flights{% endblock title %}
{% block header %}Available Flights{% endblock header %}

{% block table %}
    <div class="container mt-4">
        {% if messages %}
            <ul class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th>Flight Number</th>
                <th>From</th>
                <th>To</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Airline</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for flight in flights %}
                <tr class="flight-row" data-flight-id="{{ flight.id }}">
                    <td class="flight-row-content">
                        <div class="d-flex align-items-center">
                            <strong class="mr-2">{{ flight.flight_number }}</strong>
                        </div>
                    </td>
                    <td class="flight-row-content">{{ flight.departure_airport.name }}</td>
                    <td class="flight-row-content">{{ flight.arrival_airport.name }}</td>
                    <td class="flight-row-content">{{ flight.departure_time|date:"Y-m-d H:i" }}</td>
                    <td class="flight-row-content">{{ flight.arrival_time|date:"Y-m-d H:i" }}</td>
                    <td class="flight-row-content">{{ flight.airline.name }}</td>
                    <td></td>
                    <a href="{% url 'book_ticket' %}?flight_id={{ flight.id }}" class="flight-row-button-overlay">Book This Flight</a>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6" class="text-center">No flights available.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock table %}