<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Airline CRM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.resolver_match.url_name == 'show_airlines' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'show_airlines' %}">Airlines</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'flight_map' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'flight_map' %}">Flight Map</a>
                </li>
                {% comment %}
                Додаткові посилання для адміна
                {% endcomment %}
                {% if request.user.is_authenticated and request.user.is_staff %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin Tools
                        </a>
                        <div class="dropdown-menu" aria-labelledby="adminDropdown">
                            <a class="dropdown-item" href="{% url 'admin_tools_view' %}">Data Management</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'show_flights' %}">Manage Flights</a>
                            <a class="dropdown-item" href="{% url 'show_airports' %}">Manage Airports</a>
                            <a class="dropdown-item" href="{% url 'show_tickets' %}">Manage Tickets</a>
                            <a class="dropdown-item" href="{% url 'show_users' %}">Manage Users</a>
                            <a class="dropdown-item" href="{% url 'show_crew_members' %}">Manage Crew Members</a>
                            <a class="dropdown-item" href="{% url 'show_crew_teams' %}">Manage Crew Teams</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/admin/">Django Admin Panel</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hello, {{ user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                            <a class="dropdown-item" href="{% url 'my_tickets' %}">My Tickets</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>